body {
    background-color: #E5E5E5;
    margin-left: 10em;
    margin-top: 2em;
    overflow: hidden;
}

#three-dots-text {
    display: inline;
    color: #044C51;
    font-size: 20px;
    padding-left: 7px;
}

.circles {
    display: inline;
    border-radius: 50%;
    padding: 0.5em 1em;
    justify-content: start;
    align-items: start;
    margin-left: -1em;
    background-color: #274A4F;
    opacity: 0.5;
}

#navigation {
    display: flex;
    justify-content: center;
    margin-right: 40em;
    margin-top: -1.4em;
}

.link {
    text-decoration: none;
    width: 0;
    margin-left: 1.5em;
    color: #274A4F;
    font-size: 20px;
}

.link-container {
    list-style-type: none;
}


#girl-image {
    position: relative;
    background-image: url('images/girl-image-figma.png');
    background-size: cover;
    width: 500px;
    height: 500px;
    padding-left: 10em;
    z-index: 2;
    bottom: 78em;
    left: 37em;
}

#circle-img-one {
    position: relative;
    border-radius: 50%;
    width: 700px;
    height: 700px;
    background: linear-gradient(#133A42, white);
    opacity: 0.3;
    left: 50em;
    bottom: 10em;
}


#circle-img-two {
    position: relative;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background: linear-gradient(#133A42, rgb(228, 220, 220));
    opacity: 0.2;
    bottom: 27em;
    left: 46.8em;
}

#circle-img-third {
    position: relative;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: linear-gradient(#133A42, rgb(197, 192, 192));
    opacity: 0.2;
    bottom: 40em;
    left: 40em;
}

#title {
    position: relative;
    bottom: 32em;
    font-size: 50px;
    color: #052E39;
}

#title-diff-color {
    color: #7F9187;
}

#diff {
    color: #365658;
}

#text {
    position: relative;
    bottom: 69em;
    font-size: 23px;
    width: 443px;
    color: #044C51;
}